body{
    background-color: #4b6d53;
    margin: auto;
    padding: auto;

}

p{
  color: white;
  
}


/*CSS a navbar*/
.nav-link{
  color: white;
}

/*CSS img*/
.img-fluid{
  border-radius: 20px;
}

.imglogo{
  height: 8vh;
  border-radius: 10px;
}

/*CSS Hero section*/
#herosection{
    background: url(./img/fond_re_style_.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 72vh;
    width: 100%;
}

.hero{
    color: #ffffff ;
    font-weight: 900;
}

.herobrillant{
    padding-top: 50px;
    font-weight: bolder;
    color: #ffffff;
}


/*CSS trait section*/
.traitsection{
    padding-bottom: 30px;
    border-bottom: 5px solid white;
    border-radius: 15%;
}

/*CSS bouton*/
.btn-primary{
    color: rgb(0, 0, 0);
    background-color: #efff00;
    border-color: #efff00;
}

.btn-primary:hover{
    color: rgb(0, 0, 0);
    background-color: #97a100;
    border-color: #97a100;
}

#largebouton{
  width: 100%;
}


.btn-primary:focus{
    color: #000000;
    background-color: #3e4200;
    border-color: #3e4200;  
}

/*CSS Footer*/


.card{

    background: #304635;
    border-radius: 50px;
    box-shadow: 5px 6px 6px 2px #000000;
}

.border-bottom {
    border-bottom: 1px solid #9e9e9e29!important;
}


.border-right {
    border-right: 1px solid #9e9e9e29!important;
}


a{

    text-decoration: none;
    color: #fff;
}


.item-list li{

    list-style: none;
    padding: 5px;
}



.dots {
  background-color: #fff;
  color: rgb(0, 0, 0);
  line-height: 37px;
  display: inline-block;

}

.dots i{

        font-size: 25px;
}


.text-content{
    color: #fff;
}


.search {
     /*margin-bottom: auto;
    margin-top: auto;*/
    height: 53px;
    border:1px solid #eee;
    border-radius: 40px;
    padding: 2px;
 }

 .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;

     margin-top: 2px;
     caret-color: transparent;
     line-height: 40px;
 }

 .search .search_input {
     padding: 0 10px;
     width: 100%;
     caret-color: #ffffff;
     transition: width 0.4s linear
 }

 .search:hover>.search_icon {
     background: red;
     color: #fff
 }

 .search_icon {
    height: 46px;
    width: 46px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    padding: 20px;
    background-color: black;
 }

 a:link {
     text-decoration: none
 }


/*CSS formulaire*/
.containerf {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #304635 10%, #000000 90%);
  }
  .containerf{
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .containerf .text{
    color: white;
    text-align: center;
    font-size: 41px;
    font-weight: 600;
  }
  .containerf form{
    padding: 30px 0 0 0;
  }
  .containerf form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #000000;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #000000;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a2e456, #62ea01, #b0e456, #a4ea01);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  /*----------------------font-----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------------Fin de Formulaire--------------------------*/

  
  @media (max-width: 700px) {

    .containerf{
      display: flex;
      flex-direction: column;
    }
    
    .containerf .text{
      font-size: 2em;
    }
    .containerf form{
      padding: 10px 0 0 0;
    }
    .containerf form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 90%!important;
    }
  }