body{

    background-color: #6b776eac;

    background-color: #4b6d53;

    margin: auto;
    padding: auto;

}

p{
  color: rgb(0, 0, 0);
}

/*CSS a navbar*/
.nav-link{
  color: white;
}



/*CSS img logo*/
.imglogo{
  height: 8vh;
  border-radius: 10px;
}

.Formulaire_de_contact_aide{
margin-top: 20px;
}



/*CSS bouton*/
.btn-primary{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover{
    color: rgb(255, 255, 255);
    background-color: #4b6d53;
    border-color: #4b6d53;
}



.btn-primary:active{
    color: red;
    background-color: yellow;
    border-color: yellow;
}

.btn-primary:focus{
    color: #ffffff;
    background-color: #00c535;
    border-color: #00c535;  
}

/*CSS Footer*/
.card{

    background: #304635;
    border-radius: 50px;
    box-shadow: 5px 6px 6px 2px #000000;
}

.border-bottom {
    border-bottom: 1px solid #9e9e9e29!important;
}


.border-right {
    border-right: 1px solid #9e9e9e29!important;
}


a{

    text-decoration: none;
    color: #ffffff;
}


.item-list li{

    list-style: none;
    padding: 5px;
}



.dots {
  background-color: #fff;
  color: rgb(0, 0, 0);
  line-height: 37px;
  display: inline-block;

}

.dots i{

        font-size: 25px;
}


.text-content{
    color: #fff;
}


.search {
     /*margin-bottom: auto;
    margin-top: auto;*/
    height: 53px;
    border:1px solid #eee;
    border-radius: 40px;
    padding: 2px;
 }

 .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;

     margin-top: 2px;
     caret-color: transparent;
     line-height: 40px;
 }

 .search .search_input {
     padding: 0 10px;
     width: 100%;
     caret-color: #ffffff;
     transition: width 0.4s linear
 }

 .search:hover>.search_icon {
     background: red;
     color: #fff
 }

 .search_icon {
    height: 46px;
    width: 46px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    padding: 20px;
    background-color: black;
 }

 a:link {
     text-decoration: none
 }
 /*---------------------------------------------------------formulaire---------------------------------------------------------*/
 .form-container {
  
  background: #304635ad  ;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100vh;
  width: 100%;
}

/* Titre */
h1 {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

/* Champs de saisie */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Champ au focus */
input:focus, textarea:focus {
  outline: none;
  border-color: #27b300;
}

/* Bouton de soumission */
button {
  width: 100%;
  padding: 10px;
  background-color: #65e3b7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #27b300;
}

/*----------------------font-----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------------Fin de Formulaire--------------------------*/
 /*-------Media queries----------------------*/
 @media (max-width: 700px) {x
   .container-fluid .text{
     font-size: 0.9em;
   }
   .container-fluid form{
     padding: 10px 0 0 0;
   }
   .container-fluid form .form-row{
     display: block;
   }
   form .form-row .input-data{
     margin: 35px 0!important;
   }
   .submit-btn .input-data{
     width: 90%!important;
   }
 }